.back{
    /* display: flex; */
    /* background-image: url(https://images2.alphacoders.com/106/1060624.png); */
    background-image: url('../images/home.png');

    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    /* top: 20px;
    right: 0px;
    bottom: 0px;
    left: 0px; */
    background-position: center;
    max-width: 100vw;
    min-height: 100vh;     

}

.home{
    /* flex-direction: ; */
    width: 100px;
    /* display: flex; */
    /* justify-content: center; */
    font-size: 2em;
    letter-spacing: .2rem;
    color: #043988;
    transition: .3s;
    background-color: aqua;
    border-radius: 20px;
    padding: 5px;
    
}
.home:hover {
    color: white;
    background-color: #11ce3d;
  }

  .notfound{
      margin-top: 50px;
      color: red;
      font-size: 2em;
  }


.detailBig {
    width: 90vw;
    height: 80vh;
    margin: auto;
    margin-top: 5vh;
    background-color: rgba(57, 189, 225, 0.4);
    border-radius: 10px;
    display: flex;
}
.imgDtBox{
    width: 45vw;
    height: 72vh;
    margin: 3vh 0vw 0vh 2vh; 
    display: flex;
    align-items: center;
    border-top: 4px double;
    border-left: 4px double;
    border-color: rgb(30, 219, 81);
    /* border-top-left-radius: 10px; */
}

.detailImg{
    min-height: 50vh;
    max-height: 65vh;
    min-width: 23vw;
    max-width: 40vw;
    border-radius: 5px;
    margin: auto;
    box-shadow: 16px 16px 8px 0px rgba(0, 0, 0, 0.27);
    
}
.infoBox {
    padding: 8px;
    width: 45vw;
    max-height: 72vh;
    margin: 4vh 2vh 3vh 0vw; 
    border-bottom: 4px double;
    border-right: 4px double;
    border-color: rgb(30, 219, 81);
    /* border-bottom-right-radius: 10px; */
    font-family: 'Montserrat', sans-serif;
    justify-content: left;
    
}
.smallIfBox{
    margin: 0;
    max-height: 70vh;
    width: 42vw;
    position: absolute;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}
.nameDetail{
    color: rgb(30, 219, 81);
    font-size: 1.8em;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.919);
    display: flex;
    margin-left: 3vw;
}
.infoDetails{
    text-align: left;
    margin: 20px 3vw;
    font-size: 1.2em;
    font-weight: 500;
    
}
.infoInfo{
    color:aliceblue;

}
.infotitle{
    color: rgb(30, 219, 81);
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.919);
}
.dltBtnBox{
    display: flex;
    margin-top: 30vw; 
}
