* {
    text-decoration: none;
}
.exit{
    font-family: 'Radio Canada', sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: rgb(67, 60, 207);
    background-color: rgba(24, 214, 208, 0.907);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 0 10px;
    padding: 3px;
    cursor: pointer;
    transition: all 0.5s ease;

}
.exit:hover {
    background: rgba(248, 5, 5, 0.687);
    color: rgb(71, 71, 71);
    border-color: rgb(71, 71, 71);
    color: #ffe8d6;
    border-radius: 8px;
}

.create{
    font-family: 'Radio Canada', sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: rgb(67, 60, 207);
    background-color: rgba(24, 214, 208, 0.907);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 0 10px;
    padding: 3px;
    cursor: pointer;
    transition: all 0.5s ease;

}
.create:hover {
    background: rgba(13, 149, 70, 0.687);
    color: rgb(71, 71, 71);
    border-color: rgb(71, 71, 71);
    color: #ffe8d6;
    border-radius: 8px;
}

.back{
    background-image: url(https://images2.alphacoders.com/106/1060624.png);
    

    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    top: 20px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-position: center;
    max-width: 100vw;
    min-height: 100vh;     

}



.navContainer {
    display: flex;
    justify-content: space-between;

    padding: 20px;
    /* background-color: whitesmoke; */
}

.filterContainer {
    display: flex;
    justify-content: center;


    /* margin-right: 100px; */
    padding: 10px;
    /* background-color: red; */

}

.cardsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;




    /* background-image: url(https://images2.alphacoders.com/106/1060624.png);
    

    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    top: 20px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-position: center;
    max-width: 100vw;
    min-height: 87vh;      */
    

}

.ban{
    height: 20px;
    width: 100px;
    font-family: 'Radio Canada', sans-serif;
    text-align: center;
    font-size: 1em;
    color: rgb(94, 94, 94);
    background-color: rgba(24, 214, 74, 0.907);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 0 10px;
    padding: 3px;

}

.ban2{
    display: flex;
    /* height: 30px;
    width: 200px; */
    
    font-family: 'Radio Canada', sans-serif;
    text-align: center;
    font-size: 1em;
    color: rgb(94, 94, 94);
    background-color: rgba(24, 214, 74, 0.907);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 0 10px;
    padding: 3px;
    cursor: pointer;
    transition: all 0.5s ease;

}
.ban2:hover {
    background: rgba(207, 19, 169, 0.687);
    color: rgb(71, 71, 71);
    border-color: rgb(71, 71, 71);
    color: #ffe8d6;
}

.ban2 option:hover {
    background-color: #ffe8d6;
}




.contentSelect {
    cursor: pointer;
    height: 30px;
    font-family: 'Radio Canada', sans-serif;
    text-align: center;
    font-size: 1em;
    color: rgb(94, 94, 94);
    background-color: rgba(24, 214, 74, 0.907);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: all 0.5s ease;
    margin: 0 10px
}

.contentSelect:hover {
    background: rgba(207, 19, 169, 0.687);
    color: rgb(71, 71, 71);
    border-color: rgb(71, 71, 71);
    color: #ffe8d6;
}

.contentSelect option:hover {
    background-color: #ffe8d6;
}
